.content{
    margin: 0 auto;
    padding: 4rem 0;
    width: 960px;
    max-width: 100%;
}

/* 页脚 */
footer {
    color: #888;
    margin-top: 15px;
    text-align: center;
    padding: 10px;
}
hr {
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
}

hr:after {
    background: #fff;
    content: '§';
    padding: 0 4px;
    position: relative;
    top: -13px;
}
table {
    margin-right: auto;
    margin-left: auto;
    table-layout: auto;
    margin-bottom: 50px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

table tr:hover{
    background-color: #f8f9fa;
}
.thinker{
    width: 1000px;

}
.banner{
    background-color: #333;
    background-image: url("./imgs/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
}
