<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}" type="text/css">
    <link rel="icon" href="{{ url_for('static', filename='icon.png') }}">
    <title>Lecture Collection</title>
    <div class="banner"></div>
</head>
<section class="content">
    <h1 style="text-align: center;font-size: xxx-large;font-style: italic">Oh My Lectures!</h1>
    <hr>
        <table class="table">
            <thead><tr><th>Colleges</th><th>Lectures</th></tr></thead>
                <tbody>
                {% for info in infos %}
                <tr>
                    <td>{{ info["college"] }}</td>
                    <td><a href="{{ info["link"] }}">{{ info["name"] }}</a> </td>
                </tr>
                {% endfor %}
                </tbody>
        </table>
        <img class="thinker" src="{{ url_for('static', filename='/imgs/thinker.webp') }}">
    <footer>
        <small>&copy; <a href="https://github.com/iXhong">iXhong</a></small>
    </footer>
</section>
</html>