<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}" type="text/css">
    <title>Lecture Collection</title>
</head>
<body>
    <h1 style="text-align: center;">Lectures</h1>

{#    <ul class="list">#}
{#        {% for info in info_list %}#}
{#        <li><a href="{{ info.info_link }}" >{{ info.info_text }}</a></li>#}
{#        {% endfor %}#}
{#    </ul>#}
    <table class="fixed_headers">
        <thead>
            <tr>
                <th>Look Down</th>
            </tr>
        </thead>
        <tbody>
        {% for info in infos %}
        <tr>
            <td><a href="{{ info["link"] }}">{{ info["name"] }}</a> </td>
        </tr>
        {% endfor %}
        </tbody>

    </table>
    <footer>
        <small>&copy; iXhong </small>
    </footer>
</body>
</html>